# **Pr√°ctico Sistemas Recomendadores: Surprise - Slope One**

En este pr√°ctico seguiremos utilizando [Surprise](http://surpriselib.com/), con el cual estamos aprendiendo distintas t√©cnicas de recomendaci√≥n. Seguiremos usando la misma base de datos de los pr√°cticos anteriores, para que puedan comparar los m√©todos y sus implementaciones.

En esta oportunidad exploraremos el recomendador de Pendiente Uno o **Slope One** [1].

**Profesor**: Denis Parra

**Ayudantes**: Florencia Ferrer, √Ålvaro Labarca, Nicol√°s Sumonte, Jorge Facuse y Pablo Messina.

Referencias üìñ
------
[1] *Lemire, D., & Maclachlan, A. (2005, April). Slope One Predictors for Online Rating-Based Collaborative Filtering. In SDM (Vol. 5, pp. 1-5).*

**Nombre**:  completa tu nombre aqu√≠ :D

## Actividad 1 üëì

Antes de empezar con el pr√°ctico, responde la siguiente pregunta con lo visto en clases.

**Pregunta:** Explique c√≥mo funciona Slope One (como modelo te√≥rico, no piense en la implementaci√≥n). En particular explique:

- Repasemos: ¬øPor qu√© este recomendador es un algoritmo de Filtrado Colaborativo?
- Este Filtrado Colaborativo, ¬øest√° basado en el usuario o en los items? ¬øPor qu√©?
- ¬øQu√© datos recibe Slope One y qu√© hace con ellos? (qu√© tipo de columnas y qu√© calculo)
- ¬øQu√© pasar√≠a si se agrega un nuevo rating a la base de datos?
- Opcional: ¬øC√≥mo crees que le ir√≠a al recomendador con un usuario que acaba de entrar al sistema y ha asignado muy pocos ratings?

üí° *Hint: La bibliograf√≠a todo lo puede.*

**Respuesta:**

# **Configuraci√≥n Inicial**

## Paso 1:
Descargue directamente a Colab los archivos del dataset ejecutando las siguientes 3 celdas:

In [ ]:
!curl -L -o "u1.base" "https://drive.google.com/uc?export=download&id=1bGweNw7NbOHoJz11v6ld7ymLR8MLvBsA"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 1546k  100 1546k    0     0  1589k      0 --:--:-- --:--:-- --:--:-- 5837k

In [ ]:
!curl -L -o "u1.test" "https://drive.google.com/uc?export=download&id=1f_HwJWC_1HFzgAjKAWKwkuxgjkhkXrVg"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  385k  100  385k    0     0   629k      0 --:--:-- --:--:-- --:--:--  188M

In [ ]:
!curl -L -o "u.item" "https://drive.google.com/uc?export=download&id=10YLhxkO2-M_flQtyo9OYV4nT9IvSESuz"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  230k  100  230k    0     0   391k      0 --:--:-- --:--:-- --:--:--  391k

Los archivos **u1.base** y **u1.test** tienen tuplas {usuario, item, rating, timestamp}, que es la informaci√≥n de preferencias de usuarios sobre pel√≠culas en una muestra del dataset [movielens](https://grouplens.org/datasets/movielens/).

## Paso 2:

Instalamos Surprise utilizando pip.

In [ ]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 11.8 MB 27.2 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633978 sha256=d3e001b2cacefa67012c2a1031ee6f0b87c118d564fead73b5a37d98d2128798
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

## Paso 3:

Hacemos los imports necesarios para este pr√°ctico.

In [ ]:
import surprise
import numpy as np
from surprise import Reader
from surprise import Dataset
from surprise import SlopeOne
from surprise import accuracy
from surprise.model_selection import PredefinedKFold
from collections import defaultdict
import pandas as pd

# **El dataset**

üí° *En pr√°cticos anteriores, vimos como analizar este dataset. Puedes revisarlos en caso de dudas.*

## Paso 4:

Ya que queremos crear una lista de recomendaci√≥n de items para un usuario en especifico, necesitamos obtener informaci√≥n adicional de cada pel√≠cula tal como t√≠tulo, fecha de lanzamiento, g√©nero, etc. Cargaremos el archivo de items descargado "u.item" para poder mapear cada identificador de √≠tem al conjunto de datos que lo describe.

In [ ]:
# Definimos el orden de las columnas
info_cols = [ 'movieid', 'title', 'release_date', 'video_release_date', 'IMDb_URL', \
              'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', \
              'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', \
              'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western' ]

# Asignamos a una variable la estructura de datos de los items
info_file = pd.read_csv('u.item', sep='|', index_col = 0, names = info_cols, header=None, encoding='latin-1')

# **Slope One**

## Paso 5:

Seguiremos un camino muy similar a los ejercicios de User KNN. Crearemos una instancia del algoritmo de recomendaci√≥n y luego pasaremos a la fase de entrenamiento.

In [ ]:
reader = Reader(line_format='user item rating timestamp', sep='\t', rating_scale=(1,5))
data = Dataset.load_from_folds([("u1.base", "u1.test")], reader=reader)
pkf = PredefinedKFold()
trainset, testset = next(pkf.split(data))

In [ ]:
# Declaramos la instancia SlopeOne
mySlopeOne = SlopeOne()

In [ ]:
# Y enntrenamos
mySlopeOne.fit(trainset)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

## Actividad 2 üëì

**Pregunta:** Explique qu√© hace el m√©todo `fit()` en este caso, dado el modelo te√≥rico. ¬øCalcula informaci√≥n?, ¬øno hace nada?, ¬øordena los datos? 

**Respuesta:**

## Paso 6:

Llego la hora de predecir el rating.

In [ ]:
# Esta es la predicci√≥n de rating que el usuario ID:457 otorgar√≠a al √≠tem ID:37
# De esta forma podemos comparar el resultado con los pr√°cticos anteriores
mySlopeOne.predict("457", "37")

Prediction(uid='457', iid='37', r_ui=None, est=3.1147693855440335, details={'was_impossible': False})

In [ ]:
# Tambi√©n podemos guardar la predicci√≥n en una variable
prediction = mySlopeOne.predict("457", "37")

In [ ]:
# Podemos comprobar las peliculas rankeadas por el usuario ID:457
# Que ciertamente ha participado activamente (¬°156 items!)
train_file = pd.read_csv('u1.base', sep='\t', names = ['userid', 'itemid', 'rating', 'timestamp'], header=None)
train_file[train_file['userid'] == 457]

       userid  itemid  rating  timestamp
37269     457       1       4  882393244
37270     457       7       4  882393278
37271     457       9       5  882393485
37272     457      11       4  882397020
37273     457      13       3  882393883
...       ...     ...     ...        ...
37420     457    1047       2  882395964
37421     457    1119       4  882398308
37422     457    1168       5  882548761
37423     457    1210       4  882549905
37424     457    1221       4  882549438

[156 rows x 4 columns]

In [ ]:
# Y tambi√©n cu√°les usuarios han rankeado la pelicula ID:37
train_file[train_file['itemid'] == 37]

       userid  itemid  rating  timestamp
1302       13      37       1  882397011
14851     201      37       2  884114635
19670     268      37       3  876514002
29489     363      37       2  891498510
31084     385      37       4  880013483
32996     405      37       1  885548384
62777     773      37       3  888540352

## Actividad 3 üëì

Haremos un peque√±o experimento para entender mejor como funciona Slope One. Gracias al ejercicio anterior, sabemos que el usuario 457 ya ha asignado el mejor rating (5 ‚≠ê) a las dos peliculas ID:9 e ID:1168. Comparemos.

**Pregunta:** ¬øC√≥mo se explican estos resultados?  

**Respuesta:**

In [ ]:
prediction_id9 = mySlopeOne.predict("457", "9")
prediction_id1168 = mySlopeOne.predict("457", "1168")

print('Prediction for ID:9 :', prediction_id9.est)
print('Prediction for ID:1168 :', prediction_id1168.est)

Prediction for ID:9 : 4.527056471078392
Prediction for ID:1168 : 4.1476192788692785

## Paso 7:

Generaremos ahora una lista ordenada de las top-N recomendaciones, dado un usuario.

In [ ]:
def get_top_n(predictions, n=10):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [ ]:
a_testset = trainset.build_anti_testset()
predictions = mySlopeOne.test(a_testset)
top_n = get_top_n(predictions, n=5)

In [ ]:
# Y visualizaremos el resultado
print('Lista de items seg√∫n ID:', top_n["5"])

Lista de items seg√∫n ID: [('1293', 5), ('1536', 5), ('1653', 5), ('814', 4.992065086380073), ('1463', 4.975533372479937)]

In [ ]:
# Lo convertimos a numpy array
recmovies_slopeone = np.array([m[0] for m in top_n["5"]]).astype(int)

# Utilizamos la estructura de datos de los items para encontrar los t√≠tulos recomendados
print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items por nombre:

movieid
1293                                      Star Kid (1997)
1536                                 Aiqing wansui (1994)
1653    Entertaining Angels: The Dorothy Day Story (1996)
814                         Great Day in Harlem, A (1994)
1463                                     Boys, Les (1997)
Name: title, dtype: object

## Actividad 4 üë©üèª‚Äçüíª

Genera una nueva recomendacion, modificando los hiperparametros de usuario y topN a tu elecci√≥n.

**Pregunta:** ¬øVes una diferencia en la recomendaci√≥n entre el nuevo usuario y el usuario ID:457?

**Respuesta:**

In [ ]:
# Escribe el nuevo codigo aqui

## Actividad 5 üë©üèª‚Äçüíª

Dado el usuario ID:44, cree dos listas de pel√≠culas recomendadas; la primera utilizando el algoritmo Most Popular y la segunda utilizando el algoritmo Slope One.

**Pregunta:** Realice un analisis apreciativo de las similitudes y diferencias entre ambas recomendaciones.

**Respuesta:**

In [ ]:
# Escribe el nuevo codigo aqui